Repository CadQuery/cadquery, pull requests merged in 2025-03, with the labels that each got.

#1776 Assembly.remove implementation
  cadquery/assembly.py
  tests/test_assembly.py
Labels: assembly

#1778 Per item styling in show + camera position
  cadquery/occ_impl/assembly.py
  cadquery/vis.py
  doc/_static/show_camera_position.png
  doc/_static/show_styling.png
  doc/vis.rst
  tests/test_vis.py
Labels: vis

#1781 Add imprinting to free func
  cadquery/func.py
  cadquery/occ_impl/shapes.py
  tests/test_free_functions.py
  tests/test_shapes.py
Labels: cq.Shape, free func
